<div
  class="  md:w-[500px] h-auto  bg-black rounded-xl p-7 text-white flex flex-col items-center  justify-evenly ">
  <div class="flex flex-col justify-center items-center gap-2 md:gap-5 mb-5">
    <img class=" rounded-full w-[100px] h-auto" src="https://github.com/OctopusMichael.png" alt="user avatar">
    <h1>Michael Diaz</h1>
    <h2 class="text-lime-400">Santa Marta, Colombia</h2>
    <p>"Front-end Developer and ui/ux Designer"</p>

  </div>
  <ul class="flex flex-col gap-5 md:gap-8 items-center">
    @for(link of social ; track link.id){

    <li class="rounded-xl bg-slate-700 hover:bg-slate-500 font-bold   w-[300px] flex justify-center py-3   ">
      <a class="" href="">{{link.nombre }}</a>
    </li>
    }
  </ul>
</div>